html {
  background-color:  black;
}

.container--outer {
  width: 100%;
}

.outer--black {
  background-color: black;
}

.outer--gray {
  background-color: #F2F4F8;
}

.container--inner {
  max-width:  1312px;
  display:  flex;
  margin-left:  auto;
  margin-right:  auto;
  padding:  100px 50px 80px 50px;
  /*padding:  100px 50px 150px 50px;*/

}

.container--inner--header {
  max-width:  1412px;
  display:  flex;
  margin-left:  auto;
  margin-right:  auto;
  padding:  0 0 0 50px;
  background-color: black;
  color: white;
}

.inner--gray {
  background-color:  #F2F4F8;
  color: black;
}

.inner--black {
  background-color:  black;
  color:  white;
}

.container--inner--video {
  max-width:  1312px;
  display:  flex;
  margin-left:  auto;
  margin-right:  auto;
  padding:  0 50px 100px 50px;
}

.video-placeholder {
  height:  500px;
  background-color: silver;
  width:  70%;
  margin-left:  auto;
  margin-right:  auto;
}

.col--40 {
  width:  40%;
  height:  500px;
  padding-top:  56px;
}

.col--60 {
  width:  60%;
}

footer {
  height:  300px;
  width:  100%;
  background-color:  black;
  color:  white;
  display:  flex;
  justify-content:  left;
  padding:  56px;
  align-items:  flex-end;
}


h1 {
  font-family: IBM Plex Mono;
  font-size: 46px;
  font-weight: 600;
  line-height: 76px;
  /*letter-spacing: -4px;*/
  margin-top:  64px;
}

h2 {
  font-family: IBM Plex Mono;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

.section--white_h3 {
  max-width:  400px;
  margin-bottom:  28px;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 400;
  line-height:  42px;
}

.intro-p {
  font-family: IBM Plex Sans;
  font-size: 16px;
  line-height:  20px;
  font-weight: regular;
  width:  480px;
  margin-bottom:  24px;
}

.conclusion-p {
  font-family: IBM Plex Sans;
  font-size: 16px;
  line-height:  20px;
  font-weight: regular;
  width:  430px;
  margin-bottom:  24px;
}

.section--black_h3 {
  font-family: IBM Plex Mono;
  font-size: 42px;
  max-width:  60%;
  font-weight: 400;
  line-height:  52px;

}

.bold {
  font-weight:  600;
}


.profile-pic {
  width: 45px;
  height: 45px;
  margin:  0 12px 24px 12px;
}

.quotes-list {
  margin: 60px 0 36px 0;
}

.quotes-list > li {
  display:  flex;
}

.quote-text {
  display:  flex;
  flex-direction:  column;
  font-size:  16px;
}

.quote-text > .bold {
  margin-bottom:   5px;
}

.feature-text-p {
  max-width:  340px;
  margin-bottom:  5px;
  font-family: IBM Plex Sans;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.feature-bullet-list {
  list-style-type:  disc;
  font-size:  16px;
  margin-top:  32px;
  transform: translateX(12px);
}

.feature-bullet-list li {
  color: black;
  margin-bottom:  16px;
  max-width:  300px;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
}

.wrap-title-text {
  max-width:  350px;
}

.text--col--right {
  padding-left:  48px;
}

.hero-image,
.image,
.ai-test-image,
 {
  width:  100%;
}

.col--60,
.section--four {
  position:  static;
  z-index:  2;
}


.api-creation-image {
  width:  100%;
  /*z-index:  6;*/
  transform:  scale(1.35) translate(-48px, 0);
}

.loop-img {
  width:  320px;
  margin-bottom:  50px;
}

.LoopLottie {
  width:  400px;
  margin-bottom:  64px;
}

.logos-grid {
  width:  99%;
  display:  flex;
  flex-wrap:  wrap;
  margin:  28px 12px;
}

.logo { 
  width: calc(33%); 
  margin:  16px 0;
  padding-right:  20px;
  display: flex;
  justify-content:  left;
  align-items:  center ;
}

.logo-img {
  width:  88%;
}

.logo-image--kaiser {
  width:  100%;
  height:  auto;
}

.logo-image--nb {
  height: 50%;
  width:  auto;
  margin-left:  auto;
  margin-right:  auto;
}

.video {
  width:  70%;
  margin-left:  auto;
  margin-right:  auto;
}

.circle--one {
  width:  430px;
  height:  430px;
  border-radius:  50%;
  background-color:  #f4f4f4;
  position:  absolute;
  transform:  translate(215%, -20%);
  opacity:  0.1;
}

.circle--two { 
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #f4f4f4;
  position:  absolute;
  transform:  translate(215%, 80%);
  opacity:  0.1;
}

.circle--three {
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #d0e2ff;
  position:  absolute;
  transform:  translate(-70%, -55%);
}

.circle--four {
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #9ef0f0;
  position:  absolute;
  transform:  translate(215%, -70%);
}

.circle--five {
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #d0e2ff;
  position:  absolute;
  transform:  translate(53%, -70%);
}

.circle--six {
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #9ef0f0;
  position:  absolute;
  transform:  translate(140%, 89%);
}

.circle--seven {
  width:  430px; 
  height:  430px;
  border-radius:  50%;
  background-color:  #d0e2ff;
  position:  absolute;
  transform:  translate(230%, 70%);
}

.test-text,
.section--appear {
  opacity:  0;
  transition:  .25s ease-in ;
}

.isVisible {
  opacity:  1;
}

.outer--loop {
    background-color:  #121619;
}
.inner--loop {
  background-color:  #121619;
  color:  #fff;
  padding-top:  140px;
  padding-bottom:  180px;
}

.section--eight {
  position:  relative;
  overflow:  hidden;
}

.section--seven {
  position:  relative;
  overflow:  visible;
  z-index:  5;
}

.z-index-6 {
  z-index:  6;
}


.HeroLottie {
  transform:  translateY(4px);
  z-index:  -1;
}